.producers {
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 50px 0;
  }

  .producer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 2%;

    img {
      max-width: 200px;
      max-height: 200px;
      min-width: 200px;
      min-height: 200px;
      object-fit: contain;
    }

    &__delete {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin: 0 15px 15px auto;
    }

    &__title {
      font-weight: 500;
      margin: 15px 0;
    }

    &__year {
      font-weight: 400;
      margin-top: 15px;
    }

    &__director {
      font-weight: 600;
      margin: 15px 0;
    }

    &__genre {
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 992px) {
  .producers {
    .producer {
      width: 33.3%;
    }
  }
}

@media screen and (max-width: 600px) {
  .producers {
    .producer {
      width: 50%;
    }
  }
}

@media screen and (max-width: 400px) {
  .producers {
    .film {
      width: 100%;
    }
  }
}